.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameInputLabel {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.nameInput {
  border-radius: 8px;
  outline: none;
  border: none;
  height: 30px;

  line-height: 16px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 6px;
  text-align: center;
  font-family: 'Comfortaa', 'open-sans';
  box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.75);

  &:focus {
    outline: 2px solid #46c0b3;
  }

  &:disabled {
    background-color: grey;
  }
}

.inputButtonWrapper {
  display: flex;
  height: 100%;
}

.inputButtonWrapper input {
  margin: 0;
  width: 500px;
}

.withButton {
  border-radius: 8px 0 0 8px;
}
