.row {
  position: relative;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(30, 1fr);
}

.row:before {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  height: 100%;
  content: attr(data-content);
  display: flex;
  justify-content: flex-end;
  color: white;
  position: absolute;
  left: -20px;
}

.row:first-child button::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-content);
  width: 100%;
  color: white;
  font-size: 12px;
  position: absolute;
  top: -20px;
  left: 0;
  font-family: 'Sixtyfour', 'open-sans';
}
