.scorePanel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.scorePanelTablet {
  display: flex;
  flex-direction: row;
}

.playersContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.playersContainerTablet {
  flex-direction: row;
  height: 100%;
}

.playerRoleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.playerRoleContainerTablet {
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin-right: 20px;

  h1 {
    margin: 0 0 10px 0;
    font-size: 20px;
  }
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.playerContainer {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333842;
  padding: 10px;
}

.playerColourWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerColour {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.bottomWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 214px;
}

.bottomWrapperTablet {
  flex-direction: column;
  height: 100%;
  width: 200px;
  max-height: 100%;
}

.buttonContainer {
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

@keyframes glow {
  from {
    box-shadow: 0 0 4px -4px white;
  }
  to {
    box-shadow: 0 0 4px 4px white;
  }
}

.buttonGlow {
  animation: glow 1s infinite alternate;
}
