.cardStack {
  width: 80%;
  border-radius: 4px;
  position: relative;
  aspect-ratio: 1.8;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-shadow: -17px -15px 5px -16px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  position: absolute;
  background-color: #1a1a1a;
  border: 1px solid #fafafa;
  transform: rotate(0);
  color: white;
}

.card button {
  cursor: pointer;

  &:hover {
    border: 3px solid grey;
  }
}
