.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 40px;
  box-sizing: border-box;
  width: 100%;
  background-color: #15171c;
  box-shadow: 0px 1px 6px black;
  color: white;
  font-family: 'Sixtyfour', 'sans-serif';
  z-index: 1;
}

.leftWrapper {
  display: flex;
  height: 100%;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
}

.rightWrapper {
  display: flex;
  height: 100%;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
}

.playerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.buttonWrapper {
  height: 100%;
  position: relative;

  button {
    font-size: 14px;
  }
}

.rules {
  margin-right: 10px;
}

.buttonWrapperPlayers {
  display: flex;
  height: 100%;
  position: relative;

  button {
    font-size: 14px;
  }
}

.scoreLimit {
  color: #46c0b3;
  font-size: 16px;
}
