.square {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  border: none;
  outline: none;
  background: none;

  font-size: 10px;
  padding: 2px;
  color: rgba(255, 255, 255, 0);
  border-radius: 1px;
  font-family: 'Sixtyfour', sans-serif;

  aspect-ratio: 1;
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 1);
    -webkit-box-shadow: inset 0 0 4px #ffffff;
    -moz-box-shadow: inset 0 0 4x #ffffff;
    box-shadow: inset 0 0 4px #ffffff;
  }
}

.row:first-child .square::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-content);
  color: white;
  font-size: 12px;
  position: absolute;
  top: -20px;
}
