.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 500px;
  padding: 20px;
  background-color: #282c34;
  box-sizing: border-box;
  box-shadow: 0 0 10px 1px black;
  border-radius: 8px;
  font-family: 'Comfortaa', 'open-sans';

  @media screen and (max-width: 768px) {
    width: 95%;
    height: 600px;
  }
}

.titleWrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nameInputLabel {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.nameInput {
  border-radius: 8px;
  outline: none;
  border: none;
  height: 30px;
  width: 100%;
  line-height: 16px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 6px;
  text-align: center;
  font-family: 'Comfortaa', 'open-sans';
  box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.75);

  &:focus {
    outline: 2px solid #46c0b3;
  }
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
}

.buttonWrapperLink {
  height: 20px;
  color: white;
  margin-top: 10px;
}

.help {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #46c0b3;
  color: #46c0b3;
  border-radius: 50%;
  background: none;
}

.mobileWarning {
  text-align: center;
  color: white;
  width: 300px;
  font-size: 12px;
}

.mobileWarning span {
  font-weight: bold;
  text-decoration: underline;
}

p span {
  font-weight: bold;
  text-decoration: underline;
}

.welcomeHeader {
  font-size: 16px;
  font-family: 'Sixtyfour', 'open-sans';
  color: white;
  margin: 0;
}
