.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  width: 500px;
  height: 500px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 1px black;
  border-radius: 8px;
  font-family: 'Comfortaa', 'open-sans';
}

.titleWrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nameInputLabel {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.nameInput {
  border-radius: 8px;
  outline: none;
  border: none;
  height: 30px;
  width: 100%;
  line-height: 16px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 6px;
  text-align: center;
  font-family: 'Comfortaa', 'open-sans';
  box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, 0.75);

  &:focus {
    outline: 2px solid #46c0b3;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
}
