.playerContainer {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.hinter {
  max-height: 40px;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333842;
  padding: 10px;
}

.current {
  background-color: #48b86e;
}

.playerColourWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerColour {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
