.tooltip {
  position: fixed;
  pointer-events: none;
  background-color: #282c34;
  color: white;
  padding: 2px 7px;
  border-radius: 4px;
  top: 0;
  left: 0;
}

.textWrapper {
  max-width: 400px;
  padding: 10px;
  word-break: keep-all;
}
