.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  background-color: #15171c;
  box-shadow: 0px 1px 6px black;
  z-index: 1;
}

.roomId {
  color: white;
  font-family: 'Sixtyfour', 'open-sans';
}

.content {
  display: flex;
  height: calc(100vh - 40px);
  width: 100%;
  box-sizing: border-box;
}

.boardContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 20px 40px 40px;
  box-sizing: border-box;
  border-right: 1px solid #1a1a1a;
}

.sidePanelContainer {
  flex: 1;
  padding: 40px 20px;
  min-width: 287px;
  max-width: 300px;
  max-height: 796px;
}

.buttonWrapper {
  width: 150px;
}

.largeCard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: #1a1a1a;
  box-shadow: 0 0 10px 1px white;
}
