.hintWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.hintContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333842;
  padding: 10px;
  transition: height 2s linear, width 2s linear, padding 2s linear;
  min-height: 43px;
  box-sizing: border-box;
  width: 100%;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes hintz {
  0% {
    background-color: rgba(40, 44, 52, 1);
    border: 2px solid white;
    font-size: 40px;
    padding: 20px;
    border-radius: 8px;
    bottom: 50%;
    right: 50%;
    opacity: 1;
    position: fixed;
  }

  80% {
    background-color: rgba(40, 44, 52, 1);
    border: 2px solid white;
    font-size: 40px;
    padding: 20px;
    border-radius: 8px;
    bottom: 50%;
    right: 50%;
    position: fixed;
    opacity: 1;
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    bottom: 140px;
    right: 140px;
    position: fixed;
    opacity: 0;
  }
}

.firstHint {
  z-index: 2;
  animation: hintz 4s ease-out;
}

.secondHint {
  z-index: 2;
  animation: hintz 4s linear;
}

.hintContainerHinter {
  justify-content: space-between;
}

.textWrapperHinter {
  align-items: flex-start;
}

.textWrapper h2 {
  margin: 0 10px;
  font-size: 20px;
}

.tintContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #15171c;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.tintContainer h2 {
  margin: 0;
}

.tint {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}
